# --------------------------------------------------
# vite
# --------------------------------------------------
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# --------------------------------------------------
# platform deploy artifacts
# --------------------------------------------------
.output
.vercel
.netlify
.wrangler
# --------------------------------------------------
# os
# --------------------------------------------------
.DS_Store
Thumbs.db
# --------------------------------------------------
# build
# --------------------------------------------------
.svelte-kit
build
node_modules
