# --------------------------------------------------
# rust
# --------------------------------------------------
**/target
# --------------------------------------------------
# editors
# --------------------------------------------------
.claude
.vscode
.zed
# --------------------------------------------------
# artifacts
# --------------------------------------------------
**/*.tar
logs/
**/_*/
# --------------------------------------------------
# environment
# --------------------------------------------------
.env
.env.*
!.env.example
!.env.test
